.AddRecipeClass {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 87%;
  height: 80%;
  margin-left: 7%;
  margin-top: 6%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.AddRecipeForm {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.AddRecipeForm-together {
  display: flex;
  flex-direction: row;
}
.AddRecipeForm-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 70%;
}
.AddRecipeForm-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 40%;
  align-items: center;
}
label {
  font-size: 14px;
}
.name,
.category,
.instruction,
.ingredient {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
.file-button {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.name-field,
.category-field {
  background-color: white;
  outline: none;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #707070;
  width: 70%;
}
.instruction-field,
.ingredient-field {
  height: 20vh;
  background-color: white;
  outline: none;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #707070;
  width: 70%;
  resize: none;
  box-sizing: border-box;
}

.file-label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #3f6f71;
  border-radius: 50%;
  color: #3f6f71;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  margin-left: 8rem;
  margin-right: 1rem;
}
.file-output {
  font-size: 10px;
}
.image-field {
  height: 0;
  width: 0;
}

.file-label:hover {
  background-color: #3f6f71;
  color: white;
}
.file-label:active {
  background-color: #3f6f71;
  color: white;
}

.close-field {
  text-align: end;
}
.close {
  font-size: 20px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.submit-button button {
  color: white;
  background-color: #3f6f71;
  font-size: 14px;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 5px;
  font-family: Andale Mono, AndaleMono, monospace;
  cursor: pointer;
  border: 1px solid white;
}

@media only screen and (max-width: 900px) {
  .AddRecipeForm-together {
    flex-direction: column;
    align-items: center;
  }
  .AddRecipeForm {
    padding: 1px;
  }
  .AddRecipeForm-right img {
    display: none;
  }
  .name-field,
  .category-field,
  .instruction-field,
  .ingredient-field {
    width: 50%;
  }
}
