.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 40px;
  margin-top: 1.6rem;
}

.logo {
  height: 37px;
  width: 80px;
  flex-shrink: 0;
}
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-ul {
  display: flex;
  flex-direction: row;
}
.nav-list {
  padding: 1rem;
  color: black;
  font-size: 14px;
}

.nav-list:hover {
  text-decoration-line: underline;
}

.userName {
  padding: 1rem;
  color: black;
}

.loginbtn {
  color: black;
  font-size: 14px;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-left: 0.5rem;
}
.loginbtn:hover {
  color: white;
  background-color: #3f6f71;
}
